.field{
	outline: none;
	display: block;
	padding: rem(21px);
	border: 1px solid $colorButton;
	width: 100%;
	font-family: $fontMain;
	font-size: rem(24px);
	&::placeholder{
		color:$colorBase;
	}
	@include apply-to($phone,max){
		font-size: rem(18px);
		padding: rem(15px);
	}
}

.fields--textarea{
	min-height: rem(211px);
	resize: none;
	@include apply-to($phone,max){
		min-height: rem(115px);
	}
}