.button{
	text-transform: uppercase;
	text-decoration: none;
	font-size: rem(18px);
	padding: em(12px) em(26px);
	display: inline-block;
	font-weight: 700;
}

.button--transparent{
	color: $colorBase;
	background-color: transparent;
	border: 1px solid $colorButton;
	&:active{
		background-color: $colorButton;
		color: rgba($colorBase,.3);
	}
}

.button--form{
	color: $colorLight;
	background-color: $colorMain;
	font-weight: 700;
	border: 0;
	cursor: pointer;
	font-size: rem(24px);
	padding: em(14px) 0;
	outline: none;
	width: 100%;
	font-family: $fontMain;
}