$button-width: 70px;

.menu{
	margin: 0;
	padding: 0;
	&__item{
		list-style-type: none;
		display: inline-block;
	}
	&__list{
		padding: 0;
		margin: 0;
	}
	&__link{
		text-decoration: none;
		color: $colorLight;
		display: block;
		font-size: rem(18px);
		text-transform: uppercase;
		font-weight: 700;
		padding: em(22px) em(27px);
		transition: background-color .1s;
		&:hover{
			background-color: $colorLight;
			color: $colorBase;
		}
		&:hover .menu__text:after{
			opacity: 0;
		}
		&:active{
			color: rgba($colorBase,.3);
		}
	}
	&__ico{
		width: rem(16px);
		height: rem(16px);
		display: inline-block;
		vertical-align: middle;
		margin-right: 19px;
		opacity: 0.3;

	}
	&__text{
		//vertical-align: middle;
	}
	&__title{
		color: $colorLight;
		text-transform: uppercase;
		font-size: rem(18px);
		text-transform: uppercase;
		font-weight: 700;
		display: none;
	}
	&__button{
		width: rem($button-width);
		height: 100%;
		background-color: darken(saturate(adjust-hue($colorMain, -0.0000), 7.0547), 9.4118);
		position: absolute;
		z-index: 500;
		top: 0;
		right: 0;
		display: none;
		cursor: pointer;
		left: calc(100% - #{rem($button-width)});
		@include trans(.3s);
		&:active{
			.menu__button-line{
				background-color: rgba($colorLight,.3);
			}
		}
	}
	&__button-lines{

		@include center();
		top: 54%;
	}
	&__button-line{
		display: block;
		width: rem(36px);
		height: rem(2px);
		background-color: $colorLight;
		margin-bottom: rem(6px);
		@include trans(.2s);

	}
}

.menu--active{
	.menu__text{
		position: relative;
		padding-bottom: em(23px);
		&:after{
			display: block;
			transition: opacity .1s;
			content: '';
			height: rem(3px);
			width: 100%;
			position: absolute;
			background-color: $colorMain;
			bottom: 0;
			left: 0;
		}
	}
}



.menu__button--active{
	left: 0%;
	.menu__button-line{
		margin: 0;
		position: relative;
		&:nth-child(1){
			transform: rotate(45deg);
		}
		&:nth-child(2){
			opacity: 0;
		}
		&:nth-child(3){
			transform: rotate(-45deg);
			top: rem(-4px);
		}
	}
}


@include apply-to($tablet,max){
	.menu--active .menu__text{
		&:after{
			display: none;
		}
	}
	.menu__link{
		z-index: 10;
		padding: 0;
		&:hover{
			background-color: transparent;
			color: $colorMain;
		}
		&:hover + .menu__line{
			opacity: 0;
		}
		&:active{
			color: rgba($colorLight,.3);
		}
	}

	.menu--active{
		position: relative;
		.menu__line{
			display: block;
			transition: opacity .1s;
			content: '';
			height: rem(3px);
			width: calc(100% - #{rem(31px)});
			position: absolute;
			background-color: $colorMain;
			bottom: -2px;
		}

	}
	.menu__item{
		padding-bottom: rem(26px);
	}
}


@include apply-to($phone,max){
	.menu{
		position: relative;
		&__list{
			text-align: left;
			@include trans(.3s);
			position: absolute;
			background-color: $colorMain;
			z-index: 200;
			width: calc(100% - #{rem($button-width)});
			right: -100%;
			top: 0;
		}
		&__item{
			display: block;
			padding: 0;
			margin: 0;
			position: relative;
		}
		&__link{
			padding: rem(14px) 0;
			padding-left: em(21px);
			border-top: 1px solid lighten(desaturate(adjust-hue(#826550, 0.1333), 3.9857), 3.3333);
			border-bottom: 1px solid darken(saturate(adjust-hue(#826550, 0.0000), 4.5996), 6.6667);
			&:before{
				box-shadow: inset 12px 0px 8px -6px rgba(50, 50, 50, .7);
				position: absolute;
				content: '';
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
			}
			&:hover{
				color: $colorLight;
			}
			&:active{
				color: rgba($colorLight,.3);
				background-color: darken(saturate(adjust-hue($colorMain, -0.0000), 7.0547), 9.4118);
				box-shadow: none;
			}
		}
		&__ico{
			opacity: 1;
		}
	}



	.menu--active{
		.menu__line{
			display: none;
		}
	}

	.menu__list--open{
		//display: block;
		right: 0;
	}



	.menu__title{
		display: block;
		width: 100%;
		text-align: center;
		padding: rem(16px) 0 rem(15px);
	}
	.menu__button{
		display: block;
	}
}