
$triangle-size : 23px;

.share__price--star{
	&:after{
		content:'*';
		font-size: em(9px);
		vertical-align: top;
		position: relative;
		top: em(1px);
		left: em(6px);
	}
}
.share{
	position: relative;
	@include clear();
	display: flex;
	@include apply-to($tablet,max){
		display: block;
		//flex-wrap: wrap;
	}
	&__desk{
		@include col(4);
		background-color: $colorLight;
		position: relative;
		padding: rem(27px) rem(54px) 0 rem(41px);
		//display: table-cell;
		//display: flex;
		//flex-wrap: wrap;
		@include apply-to($tablet,max){
			@include clear();
			@include col(12);
			padding-bottom: rem(31px);
		}
	}
	&__container{
		@include apply-to($tablet,max){
			@include col(6);
			&:nth-child(1){
				//order: 1;
				padding-left: rem(41px);
				padding-right: rem(41px);

			}
			&:nth-child(2){
				//order: 2;
				padding-top: rem(9px);
				padding-left: rem(32px);
			}
			&:nth-child(3){
				max-width: 50%;
				float: none;
				//position: absolute;
				padding-left: rem(41px);
				//padding-right: rem(41px);
				//bottom: 10%;
				//order: 3;
			}
		}
	}
	&__title{
		font-size: rem(40px);
		line-height: em(17px);
		margin: 0;
		margin-bottom: em(17px);
		@include apply-to($tablet,max){
			max-width: rem(320px);
			margin-bottom: em(7px);
		}
	}
	&__info{
		font-size: rem(20px);
		line-height: em(20px);
		margin-bottom: em(30px);
		max-width: rem(209px);
		@include apply-to($tablet,max){
			margin-bottom: 0;
			//@include col(6);
		}
	}
	&__extra{
		font-size: rem(20px);
		opacity: .3;
		margin-bottom: rem(20px);
		@include apply-to($tablet,max){
			//@include push(12);
			//@include col(6);
			//position: relative;
			//left: -100%;
		}
	}
	&:before{
		content: '';
		display: block;
		position: absolute;
		top: rem(37px);
		width: 0;
		height: 0;
		left: rem(-$triangle-size);
		border-top: rem($triangle-size) solid $colorLight; 
		border-left: rem($triangle-size) solid transparent;
		@include apply-to($tablet,max){
			top: rem(41px);
		}

	}
}

.share__price{
	color: $colorLight;
	@include col(8);
	@include apply-to($tablet,max){
		@include col(12);
	}
	display: flex;
	&-list{
		@include clear();
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	&-item{
		@include col(6);
		list-style-type: none;
		padding-top: rem(20px);
		padding-left: rem(34px);
		padding-bottom: rem(28px);
		&:nth-child(-3n+4),&:nth-child(3n+5){
			background-color: lighten(saturate(adjust-hue($colorDark, 0.0000), 0.0000), 10.9804)
		}
		&:nth-child(-4n+6){
			background: lighten(saturate(adjust-hue($colorDark, 0.0000), 0.0000), 16.4706);
		}
		&:nth-child(-4n+7){
			background-color: lighten(saturate(adjust-hue($colorDark, 0.0000), 0.0000), 6.6667);
		}
	}
	&-number{
		font-size: rem(72px);
		font-weight: 700;
		margin-bottom: em(1px);
	}
	&-text{
		font-size: em(20px);
	}
}