.s-form{
	padding-top: rem(53px);
	&__title{
		margin-bottom: rem(69px);
		@include apply-to($tablet,max){
			margin-bottom: rem(71px);
		}
	}
	&__button{
		padding-right: rem(35px);
		padding-left: rem(36px);
	}
}