.s-info{
	background-color: lighten(saturate(adjust-hue($colorDark, 0.0000), 0.0000), 6.6667);
	//position: relative;
	&__share{
		height: 100%;
		transform: translate(0,-50%);
		float: left;
		margin-bottom: -50%;
		width: 100%;
		@include apply-to($tablet,max){
			transform: translate(0,0);
		}
		@include apply-to($phone,max){
			.container{
				max-width: 100%;
			}
		}
	}
}

.s-info__skills{
	position: relative;
}